.login-pf {
    background: none;
}

.login-pf body {
    background: none;
}

.login-pf-page .login-pf-page-header #kc-header-wrapper {
    display: none;
}

.login-pf-page .login-pf-page-header {
    text-indent: -9999;
    height: 30px;
    background: transparent url(../img/logo.svg) no-repeat center center;
}

.login-pf-page .card-pf {
    margin: 0 auto;
    width: 33%;
    border: 0;
    box-shadow: none;
}

#kc-form-buttons input.btn, #kc-form-buttons input.btn:hover {
    float: right;
    width: 10.25rem;
    /* height: 2.125rem; */
    border-radius: 3px;
    background-color: var(--cerulean-blue);
}